    <style>
#must {color: red;}        
</style>
<h2>Unfortunately your record was not successfully {{stat}}. </h2>
<hr>
<h4>The following error occurred:</h4>
<h3><div id="must">{{err}}</div></h3>
<br>
