<h1>Woohoo! </h1>
<hr>
<h3>Your record {{#if record}} (CA #{{record}}){{/if}} has been successfully {{stat}}.</h3>


<h5>{{#if record}}<a href="detail?q={{record}}#cont"><b>Click here to go to record.</b></a> {{/if}}</h5>
